table {
    border-collapse: separate;
    text-indent: initial;
    border-spacing: 2px;
}

th, td {
    width: 25%;
    text-align: left;
    vertical-align: top;
    border: 1px solid #000;
    border-spacing: 0;
 }

 h1{
     color:rgb(29, 29, 100)
 }